# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\22276\CLionProjects\LeetCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
